*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  --background-color-level-1: #f3eed9;
  --background-color-level-2: white;
  --background-color-level-3: #222c2a;
  --background-color-level-4: #824936;
}

img {
  width: 100%;
}

h2 {
  margin: 0;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;

  /* background-color: blue; */
}

.hero {
  margin: 0 auto;
  /* border: 3px solid blue; */
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--background-color-level-1);
  min-height: 560px;
  width: 100%;
  /* border: 3px solid black; */
  /* max-width: 1128px; */
}

.header {
  /* border: 3px solid yellow; */
  width: 60%;
}

.pre-title {
  letter-spacing: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 300;
  /* border: 3px solid green; */
  margin: 0.5rem;
}

h1 {
  margin: 0;
}

.title {
  /* border: 5px solid blue; */
  font-family: "Playfair Display", serif;
  color: #824936;
  font-size: 3.5rem;
  font-weight: bolder;
  /* padding: 0;
  margin: 0; */
}

.main {
  /* border: 3px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row__1--title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 0;
  text-align: center;
  color: var(--background-color-level-4);
}

.row__1--p-container {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  /* border: 2px solid green; */
  /* width: 80%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1.5rem;
  width: 90%;
  max-width: 1128px;
}

.row__1 {
  /* display: flex; */
  /* border: 5px solid black; */
  margin: 0 auto;
  background: var(--background-color-level-2);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row__1--container {
  /* border: 2px solid purple; */
  margin: 0 auto;
  width: 90%;
  max-width: 1128px;
}

.row__1--p {
  color: #222c2a;
}

.row__2 {
  min-height: 400px;
  background: var(--background-color-level-3);
  color: var(--background-color-level-1);
  display: flex;

  align-items: center;
  justify-content: center;
}

.row__2--container {
  /* border: 2px solid purple; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1128px;
}

.row__2--text {
  /* border: 2px solid purple; */
  width: 50%;
  margin: 0 auto;
  padding: 3rem;
  align-self: flex-start;
}

.row__2--title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: bold;
}

.row__2--image {
  /* border: 2px solid purple; */
  max-width: 50%;
  margin: 0 auto;
  padding: 3rem;
}

.row__3 {
  min-height: 400px;
  background: var(--background-color-level-4);
  color: var(--background-color-level-1);
  display: flex;

  align-items: center;
  justify-content: center;
}

.row__3--container {
  /* border: 2px solid purple; */
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 90%;
  max-width: 1128px;
}

.row__3--text {
  /* border: 2px solid purple; */
  width: 50%;
  margin: 0 auto;
  padding: 3rem;
  /* align-self: flex-start; */
  /* align-self: center; */
}

.row__3--title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: bold;
}

.row__3--image {
  /* border: 2px solid purple; */
  max-width: 50%;
  margin: 0 auto;
  padding: 3rem;
}
